DATABASE_URL=
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
NEXT_PUBLIC_STRIPE_PUBLISH_KEY=
STRIPE_CLIENT_SECRET=
STRIPE_SUBSCRIPTION_PRICE_ID=
WIX_OAUTH_KEY=
NEXT_PUBLIC_CLERK_SIGN_IN_FORCE_REDIRECT_URL=/auth/callback
NEXT_PUBLIC_CLERK_SIGN_UP_FORCE_REDIRECT_URL=/auth/callback
OPEN_AI_KEY=
NEXT_PUBLIC_VOICE_FLOW_KEY=
VOICEFLOW_API_KEY=
VOICEFLOW_KNOWLEDGE_BASE_API="https://api.voiceflow.com/v1/knowledge-base/docs/upload/table?overwrite=false"
NEXT_PUBLIC_HOST_URL="http://localhost:3000"
NEXT_PUBLIC_CLOUD_FRONT_STREAM_URL=
MAILER_PASSWORD=
MAILER_EMAIL=
CLOUD_WAYS_POST=